.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  /* background-color: rgba(0, 0, 0, 0.75%); */
  background-color: rgba(0, 0, 0, 0.75%);
}

.modal {
  position: relative;
  margin: 0 auto;
  margin-top: 300px;
  width: 25%;
  z-index: 100;
  overflow: hidden;
  background-color: white;
}

.modal__header {
  background-color: #333333;
  color: white;
}

.modal__header {
  padding: 10px;
}

.modal__error-message {
  font-size: 20px;
  padding: 20px;
}

.modal__footer {
  text-align: right;
  padding: 10px;
}

.modal__footer button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333333;
  color: white;
}
