.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: relative;
  margin: 0 auto;
  margin-top: 300px;
  width: 35%;
  z-index: 100;
  overflow: hidden;
  /* background-color: white; */
  background-color: #E2DDBF;

}

.modal__header {
  /* background-color: #ed6363; */
  background-color: #4D837A;
  /* color: white; */

}

.modal__header {
  padding: 10px;
  font-size: 20px;
}

.modal__error-message {
  font-size: 25px;
  padding: 20px;
}

.modal__footer {
  text-align: right;
  padding: 30px;
}

.modal__footer button {
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  /* background-color: #ed6363; */
  background-color: #4D837A;
  color: white;
}
