.user {
  /* background-color: #ed6363; */
  background-color: #4D837A;
  padding: 50px;
  width: 50%;
  margin: 0 auto;
}

.user-input__control label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
}

.user-input__control input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: #E2DDBF;
}

.action__control {
  text-align: center;
  padding: 20px;
}

.action__control button {
  /* background-color: #333333; */
  background-color: #615959;
  color: white;
  padding: 15px 30px;
  border: none;
  font-size: 20px;
}
